/* General styles for the form */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    padding: 12px;
    background-color: #e69aed;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e999f0;
}

/* Estilos para el mensaje de éxito */
#successMessage {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #ee7fbc;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    display: none;
}

.hidden {
    display: none;
}
